<table class="table">
  <thead>
  <tr>
    <th scope="col">Email</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |u| %>
    <tr>
      <td><%= u.email %></td>
    </tr>
  <% end %>
  </tbody>
</table>